<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      <!-- Include the above in your HEAD tag -->

      <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
      <script type="text/javascript" src="javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/popper.min.js"></script>
  </head>
  <body class="body">
    {{{body}}}
  </body>
</html>
