<!-- cuestionario 1 -->
<head>
    <meta charset="UTF-8">
<title>Formulrio de Encuesta</title>
    <meta name = "viewport" content = "width=device-width, user-scalable=no, initial-scalable=1.8, maximum-scale=1.8, minimum-scale=1.8">
   {{!-- <link rel="stylesheet" href="/stylesheets/estilosC1.css"> --}}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
</head>
<body>
    <div class = "contenedor">
        <header class="title">
            <div class = "col-title">
                    
                <h3 class="text-center"> <strong>Cuestionario de control de auditoria de sistemas C3</strong></h3>
            </div>
         </header>
        <form action=""  method="post" accept-charset="utf-8">
            <div class = "form-group">
                
                <label for="dominio"><strong>Dominio:</strong></label>
                <span>Entrega de Servicios y Soportes</span>
                 <br>
                 
                <label for="dominio"><strong>Proceso:</strong></label>
                <span>Administración de Instalaciones</span>
                <br>
                
                <label for="dominio"><strong>Objetivo de control:</strong></label>
                <span>Instalaciones, adecuaciones y seguridad</span>
            
            {{!-- <div class= "intro-first">  
                <p> Hola,</p>
                <p>Por favor, invierta unos pocos minutos de su tiempo para rellenar el siguiente couestionario</p>
            </div> --}}
            
            <div class = "title-part">
               <strong>¿Las Instalaciones (aulas, cubículos y oficinas) fueron diseñadas o adaptadas específicamente para funcionar como un centro de cómputo?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>

            </div>
            
             <div class = "title-part">
               <strong>¿Se tiene una distribución del espacio adecuada, de forma tal que facilite el trabajo y no existan distracciones?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>

            </div>

              <div class = "title-part">
               <strong>¿Existe suficiente espacio dentro de las instalaciones de forma que permita una cirulación fluida?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>

            </div>

            <div class = "title-part">
               <strong>¿Existen lugares de acceso restringido?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se cuenta con sistemas de seguridad para impedir el paso a lugares de acceso restringido?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

              <div class = "title-part">
               <strong>¿Se cuenta con sistemas de emergencia como son detectores de humo, alarmas u otro tipo de censores?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

              <div class = "title-part">
               <strong>¿Existen señalizaciones adecuadas en las salidas de emergencia y se tienen establecidas rutas de evacuación?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se tienen medios adecuados para extinción de fuego en el centro de cómputo?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            
            <div class = "title-part">
               <strong>¿Se cuenta con iluminación adecuada y con iluminación de emergencia en casos de contingencia?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se tienen sistemas de seguridad para evitar que se sustraiga equipo de las instalaciones?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

        <div class = "title-part">
               <strong>¿Se tiene un lugar asignado para papelería y utensilios de trabajo?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

              <div class = "title-part">
               <strong>¿Son funcionales los muebles isntalados dentro del centro de cómputo: cinco teca, Discoteca, archiveros, mesas de trabajo, etc?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

                  <div class = "title-part">
               <strong>¿Existen prohibiciones para fumar, consumir alimentos y bebidas?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

                <div class = "title-part">
               <strong>¿Se cuenta con suficientes carteles en lugares visibles que recuerdan estas prohibiciones?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

               <div class = "title-part">
               <strong>¿Con cuanta frecuencia se limpian las instalaciones?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            

          <div class = "title-part">
               <strong>¿Con cuanta frecuencia se limpian los ductos de aire y la cámara de aire que existe debajo del piso falso (si existe)?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>
        <div class = "form-group">
          <label for="inputempresa"><strong>Documentos probatorios:</strong></label>
            <input type="text" class="form-control" id="inputempresa" placeholder="Digite su respuesta">   

        </div>

        <div class = "form-group">
          <label for="inputempresa"><strong>Total:</strong></label>
            <input type="text" class="form-control" id="inputempresa" placeholder="Digite su respuesta">   

        </div>

    </div>
        
            

            
        </form>
    </div>
</body>