<h1 align="center">CUESTIONARIO DE CONTROL AUDITORIA DE SISTEMAS C3</h1>
<section>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Empresa</span>
  </div>
  <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
</div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Cuestionario de Control y seguridad Instalaciones y Cubículos</span>
    </div>
  </div>

    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Dominio:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Entrega de Servicios y Soportes</span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Proceso:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Administración de Instalaciones</span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Objetivo de Control:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Instalaciones, adecuaciones y seguridad</span>
  </div>
<h4 align="center">CUESTIONARIO</h4>
  
  <div class="input-group">
    <input type="text" class="form-control" value="Pregunta">
    <span class="input-group-text" id="basic-addon1">SI</span>
    <span class="input-group-text" id="basic-addon1">NO</span>
    <span class="input-group-text" id="basic-addon1">N/A</span>
  </div>
  
  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Las Instalaciones (aulas, cubículos y oficinas) fueron diseñadas o adaptadas específicamente para funcionar como un centro de cómputo?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se tiene una distribución del espacio adecuada, de forma tal que facilite el trabajo y no existan distracciones?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Existe suficiente espacio dentro de las instalaciones de forma que permita una cirulación fluida?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Existen lugares de acceso restringido?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con sistemas de seguridad para impedir el paso a lugares de acceso restringido?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

<div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con sistemas de emergencia como son detectores de humo, alarmas u otro tipo de censores?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Existen señalizaciones adecuadas en las salidas de emergencia y se tienen establecidas rutas de evacuación?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

<div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se tienen medios adecuados para extinción de fuego en el centro de cómputo?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con iluminación adecuada y con iluminación de emergencia en casos de contingencia?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se tienen sistemas de seguridad para evitar que se sustraiga equipo de las instalaciones?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

<div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se tiene un lugar asignado para papelería y utensilios de trabajo?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

<div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Son funcionales los muebles isntalados dentro del centro de cómputo: cinco teca, Discoteca, archiveros, mesas de trabajo, etc?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

<div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Existen prohibiciones para fumar, consumir alimentos y bebidas?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con suficientes carteles en lugares visibles que recuerdan estas prohibiciones?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Con cuanta frecuencia se limpian las instalaciones?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Con cuanta frecuencia se limpian los ductos de aire y la cámara de aire que existe debajo del piso falso (si existe)?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="Documentos probatorios presentados:">
     <div class="input-group-text">
        <input type="text" class="input-group-append">
    </div>
  </div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="TOTAL">
   <div class="input-group-text">
        <input type="text" class="input-group-append">
    </div>
</div>
</section>