<head>
    <meta charset="UTF-8">
<title>Formulrio de Encuesta</title>
    <meta name = "viewport" content = "width=device-width, user-scalable=no, initial-scalable=1.8, maximum-scale=1.8, minimum-scale=1.8">
   {{!-- <link rel="stylesheet" href="/stylesheets/estilosC1.css"> --}}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'>
</head>

<body>
    <div class = "contenedor">
        <header class="title">
            <div class = "col-title">
                    
                <h3 class="text-center"> <strong>Cuestionario de control de auditoria de sistemas C5</strong></h3>
            </div>
         </header>
        <form action="/c5"  method="post" accept-charset="utf-8">
            <div class = "form-group">
                <input type="hidden" name="_id" value="{{auditors._id}}"/>
                <label for="inputempresa"><strong>Nombre de la empresa:</strong></label>
                <input type="text" class="form-control" id="clientes" name="clientes" placeholder="Nombre de la empresa">   
                <br>

                <label for="dominio"><strong>Cuestionario de control respaldo eléctrico</strong></label>
                <br>
                <label for="dominio"><strong>Dominio:</strong></label>
                <span>Entrega de Servicios y Soportes</span>
                 <br>
                <label for="dominio"><strong>Proceso:</strong></label>
                <span>Administración de Instalaciones</span>
                <br>
                <label for="dominio"><strong>Objetivo de control:</strong></label>
                <span>Suministro Ininterrumpido de energía</span>
        
            <div class = "title-part">
               <strong>¿Se cuenta con instalación con tierra física para todos los equipos?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta1s" id="pregunta1s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta1s" id="pregunta1s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta1s" id="pregunta1s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>
            
            <div class = "title-part">
               <strong>¿La instalación eléctrica se realizó específicamente para el centro de cómputo?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta2s" id="pregunta2s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta2s" id="pregunta2s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta2s" id="pregunta2s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

              <div class = "title-part">
               <strong>¿Se cuenta con otra instalación dentro el centro de cómputo diferente de la que alimenta a los equipos de cómputo?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta3s" id="pregunta3s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta3s" id="pregunta3s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta3s" id="pregunta3s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿La acometida llega a un tablero de distribucción?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta4s" id="pregunta4s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta4s" id="pregunta4s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta4s" id="pregunta4s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿El tablero considera espacio para futuras ampliaciones de hasta un 30% (considerando que se dispone de espacio físico para la instalación de mas equipos)?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta5s" id="pregunta5s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta5s" id="pregunta5s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta5s" id="pregunta5s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿La instalación es independiente para el centro de computo?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta6s" id="pregunta6s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta6s" id="pregunta6s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta6s" id="pregunta6s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿La misma instalación con tierra física se ocupa en otras partes del edificio?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta7s" id="pregunta7s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta7s" id="pregunta7s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta7s" id="pregunta7s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>
            
            <div class = "title-part">
               <strong>¿La iluminación está alimentada de la misma acometida que los equipos?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta8s" id="pregunta8s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta8s" id="pregunta8s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta8s" id="pregunta8s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Las reactancias (balastros de las lámparas) están ubicadas dentro de la sala?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta9s" id="pregunta9s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta9s" id="pregunta9s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta9s" id="pregunta9s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Los ventiladores y aire acondicionado están conectados en la misma instalación de los equipos a la planta de emergencia?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta10s" id="pregunta10s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta10s" id="pregunta10s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta10s" id="pregunta10s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Los ventiladores y aire acondicionado están conectados en la misma instalación de los equipos a los no-break?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta11s" id="pregunta11s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta11s" id="pregunta11s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta11s" id="pregunta11s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se cuenta con interruptores generales?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta12s" id="pregunta12s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta12s" id="pregunta12s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta12s" id="pregunta12s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se cuenta con interruptores de emergencia en seie al interruptor general?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta13s" id="pregunta13s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta13s" id="pregunta13s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta13s" id="pregunta13s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se tienen los interruptores rotulados adecuadamente?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta14s" id="pregunta14s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta14s" id="pregunta14s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta14s" id="pregunta14s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se tienen protecciones contra corto circuito?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta15s" id="pregunta15s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta15s" id="pregunta15s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta15s" id="pregunta15s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se tiene implementado algún tipo de equipo de energía auxiliar?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta16s" id="pregunta16s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta16s" id="pregunta16s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta16s" id="pregunta16s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se cuenta con planta de emergencia?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta17s" id="pregunta17s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta17s" id="pregunta17s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta17s" id="pregunta17s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿se tienen conectadas algunas lámparas del centro de cómputo a la planta de emergencia?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta18s" id="pregunta18s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta18s" id="pregunta18s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta18s" id="pregunta18s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Que porcentaje de lámparas: % están conectadas a la planta de emergencia (recomendalcle el 25%?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta19s" id="pregunta19s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta19s" id="pregunta19s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta19s" id="pregunta19s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

        <div class = "form-group">
          <label for="inputempresa"><strong>Documentos probatorios:</strong></label>
            <input type="text" class="form-control" name="docs" id="docs" placeholder="Digite su respuesta">   
        </div>

<div class = "form-group">
          <label for="inputempresa"><strong>Total:</strong></label>
          <div class="row jistify-content-center">
              <div class="col-ms-3">
                  <label for="inputempresa"><strong>Conteo del si:</strong></label>
                  <input type="text" class="form-control" name="totalss" id="totalss" placeholder="Digite su respuesta" >
              </div>
              <div class="col-ms-2"> </div>
              <div class="col-ms-3">
                  <label for="inputempresa"><strong>Conteo del no:</strong></label>
                  <input type="text" class="form-control" name="totalns" id="totalns" placeholder="Digite su respuesta" >
              </div>
              <div class="col-ms-2"> </div>
              <div class="col-ms-3">
                  <label for="inputempresa"><strong>Conteo del N/S</strong></label>
                  <input type="text" class="form-control" name="totalnss" id="totalnss" placeholder="Digite su respuesta" >

              </div>
          </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-ms-10">
                <button type="submit" class="btn btn-lg btn-primary" >Guardar Cambios</button>
                <button type="button" class="btn btn-default btn-lg" >Cancelar</button>
            </div>
        </div>
        </div>    
        </form>
    </div>
</body>