<head>
    <meta charset="UTF-8">
<title>Formulrio de Encuesta</title>
    <meta name = "viewport" content = "width=device-width, user-scalable=no, initial-scalable=1.8, maximum-scale=1.8, minimum-scale=1.8">
   {{!-- <link rel="stylesheet" href="/stylesheets/estilosC1.css"> --}}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'>
</head>

<body>
    <div class = "contenedor">
        <header class="title">
            <div class = "col-title">
                    
                <h3 class="text-center"> <strong>Cuestionario de control de auditoria de sistemas C6</strong></h3>
            </div>
         </header>
        <form action="/c6"  method="post" accept-charset="utf-8">
            <div class = "form-group">
                <div class = "form-group">
                 <input type="hidden" name="_id" value="{{auditors._id}}"/>
                <label for="inputempresa"><strong>Nombre de la empresa:</strong></label>
                <input type="text" class="form-control" id="clientes" name="clientes" placeholder="Nombre de la empresa">   
                <br>
                <label for="dominio"><strong>Dominio:</strong></label>
                <span>Entrega de Servicios y Soportes</span>
                 <br>
                <label for="dominio"><strong>Proceso:</strong></label>
                <span>Protección contra Factores Ambientales</span>
                <br>
                <label for="dominio"><strong>Objetivo de control:</strong></label>
                <span>Seguridad Física</span>
        
            <div class = "title-part">
               <strong>¿Se tienen lugares de acceso restringido?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta1s" id="pregunta1s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta1s" id="pregunta1s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta1s" id="pregunta1s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>
            
            <div class = "title-part">
               <strong>¿Se poseen mecanismos de seguridad para el acceso a estos lugares?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta2s" id="pregunta2s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta2s" id="pregunta2s" value="3" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta2s" id="pregunta2s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

              <div class = "title-part">
               <strong>¿A este mecanismo de seguridad se le han detectado debilidades?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta3s" id="pregunta3s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta3s" id="pregunta3s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta3s" id="pregunta3s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Tiene medidas implementadas ante la falla del sistema de seguridad?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta4s" id="pregunta4s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta4s" id="pregunta4s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta4s" id="pregunta4s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Con cuanta frecuencia se actualizan las claves o credenciales de acceso?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta5s" id="pregunta5s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta5s" id="pregunta5s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta5s" id="pregunta5s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se tiene un registro de las personas que ingresan a las instalaciones?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="pregunta6s" id="pregunta6s" value="1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta6s" id="pregunta6s" value="2" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="pregunta6s" id="pregunta6s" value="3" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>
<div class = "form-group">
          <label for="inputempresa"><strong>Total:</strong></label>
          <div class="row jistify-content-center">
              <div class="col-ms-3">
                  <label for="inputempresa"><strong>Conteo del si:</strong></label>
                  <input type="text" class="form-control" name="totalss" id="totalss" placeholder="Digite su respuesta" >
              </div>
              <div class="col-ms-2"> </div>
              <div class="col-ms-3">
                  <label for="inputempresa"><strong>Conteo del no:</strong></label>
                  <input type="text" class="form-control" name="totalns" id="totalns" placeholder="Digite su respuesta" >
              </div>
              <div class="col-ms-2"> </div>
              <div class="col-ms-3">
                  <label for="inputempresa"><strong>Conteo del N/S</strong></label>
                  <input type="text" class="form-control" name="totalnss" id="totalnss" placeholder="Digite su respuesta" >

              </div>
          </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-ms-10">
                <button type="button" class="btn btn-lg btn-primary" >Guardar Cambios</button>
                <button type="button" class="btn btn-default btn-lg" >Cancelar</button>
            </div>
        </div>

        </div>
        </div>    
        </form>
    </div>
</body>
            