<head>
    <meta charset="UTF-8">
<title>Formulrio de Encuesta</title>
    <meta name = "viewport" content = "width=device-width, user-scalable=no, initial-scalable=1.8, maximum-scale=1.8, minimum-scale=1.8">
   {{!-- <link rel="stylesheet" href="/stylesheets/estilosC1.css"> --}}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
</head>

<body>
    <div class = "contenedor">
        <header class="title">
            <div class = "col-title">
                    
                <h3 class="text-center"> <strong>Cuestionario de control de auditoria de sistemas C6</strong></h3>
            </div>
         </header>
        <form action=""  method="post" accept-charset="utf-8">
            <div class = "form-group">
                
                <label for="dominio"><strong>Dominio:</strong></label>
                <span>Entrega de Servicios y Soportes</span>
                 <br>
                <label for="dominio"><strong>Proceso:</strong></label>
                <span>Protección contra Factores Ambientales</span>
                <br>
                <label for="dominio"><strong>Objetivo de control:</strong></label>
                <span>Seguridad Física</span>
        
            <div class = "title-part">
               <strong>¿Se tienen lugares de acceso restringido?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>
            
            <div class = "title-part">
               <strong>¿Se poseen mecanismos de seguridad para el acceso a estos lugares?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

              <div class = "title-part">
               <strong>¿A este mecanismo de seguridad se le han detectado debilidades?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Tiene medidas implementadas ante la falla del sistema de seguridad?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Con cuanta frecuencia se actualizan las claves o credenciales de acceso?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            <div class = "title-part">
               <strong>¿Se tiene un registro de las personas que ingresan a las instalaciones?</strong>
               <div class = "radio">
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        Si.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No.
                   </label>
                   <br>
                   <label >
                       <input type="radio" name="optionRadios" id="optionsRadios1" value="option1" checked="checked">
                        No sabe/no responde.
                   </label>
               </div>
            </div>

            
   

        <div class = "form-group">
          <label for="inputempresa"><strong>Documentos probatorios:</strong></label>
            <input type="text" class="form-control" id="inputempresa" placeholder="Digite">   

        </div>

        <div class = "form-group">
          <label for="inputempresa"><strong>Total:</strong></label>
            <input type="text" class="form-control" id="inputempresa" placeholder="Digite">   

        </div>
        </div>    
        </form>
    </div>
</body>
            