<!-- cuestionario 1 -->
<div class="container">
    <h1 class="center">CUESTIONARIO DE CONTROL AUDITORIA DE SISTEMAS C1</h1>
    <section >

    <div class="input-group mb-3" >
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Empresa:</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    

    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Dominio:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Adquisición e Implementación</span>
    </div>

    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Proceso:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Adquirir y mantener la arquitectura tecnológica</span>
    </div>

    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Objetivo de Control:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Evaluacion de Nuevo Hardware</span>
    </div>


    <div class="input-group-prepend" >
        <!--<span class="input-group-text" id="basic-addon1">Cuestionario</span>-->
        <input type="text" class="form-control" value="CUESTIONARIO" > 
    </div>

    <div class="input-group-prepend">
        <input type="text" class="form-control" value="Preguntas">
        <span class="input-group-text" id="basic-addon1">SI</span>
        <span class="input-group-text" id="basic-addon1">NO</span>
        <span class="input-group-text" id="basic-addon1">N/A</span>
    </div>

    <div class="input-group-prepend">
        <input type="text" class="form-control" value="¿Se cuenta con un invenatario de todos los equipos que integran el centro de cómputo?">
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="text" class="form-control" value="¿Con cuanta frecuencia se revisa el inventario?">
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="text" class="form-control" value="¿Se posee de bitácoras de fallas detectadas en los equipos?">
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
    </div>

    <div class="input-group-prepend" >
        <input type="text" class="form-control" value="CARACTERÍSTICAS DE LA BITÁCORA (SEÑALE LAS OPCIONES)" > 
    </div>

    <div class="input-group-prepend">
        <input type="text" class="form-control" value="¿La bitácora es llenada por el personal especializado?">
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="text" class="form-control" value="¿Señala fecha de detección de la falla?">
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
    </div>

    <div class="input-group-prepend">
        <input type="text" class="form-control" value="¿Señala fecha de corrección de la falla y revisión de que el equipo funcione correctamente?">
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
        <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
        </div>
    </div>

    <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se poseen registros individuales de los equipos?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    </div>

    <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿La bitácora hace referencia a hojas de servicio, en donde se detalla la falla, y las causas que la orginaron, asi como las refacciones utilizadas?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    </div>

    <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se lleva un control de los equipos en garantía, para que a la finalización de ésta, se integren a algún programa de mantenimiento?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    </div>

    <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con servicio de mantenimiento para todos los equipos?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    </div>

    <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Con cuanta frecuencia se realiza mantenimiento a los equipos?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    </div>

    <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con procedimientos definidos para la adquisición de nuevos equipos?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    </div>

    <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se tienen criterios de evaluación para determinar el rendimiento de los equipos a adquirir y así elegir el mejor?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    </div>

    <div class="input-group-prepend">
    <input type="text" class="form-control" value="Documentos probatorios presentados:">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    </div>

    <div class="input-group-prepend">
    <input type="text" class="form-control" value="TOTAL">
    <span class="input-group-text" id="basic-addon1"></span>
    <span class="input-group-text" id="basic-addon1"></span>
    <span class="input-group-text" id="basic-addon1"></span>
    </div>
    </section>
</div>
