<div class="row justify-content-center">
  <div class="col-sm-11">
    <header class="title">
  <div class = "col-title">
    <h3 class="text-center"> <strong>Información del formulario 1</strong></h3>
  </div>
</header>
  <table class="table table-striped">
      <thead>
        <tr>
          <th style="text-align:center;">Cliente</th>
          <th style="text-align:center;">Documentos probatorios</th>
          <th colspan="2" style="text-align:center;">Operaciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each formularioc1s}}
        <tr>
          <td style="text-align:center;">{{this.clientes}}</td>
          <td style="text-align:center;">{{this.docs}}</td>
          <td style="text-align:center;"><a href="/tabla1/modificar/{{this._id}}">Modificar</a></td>
           <td style="text-align:center;"><a href="/tabla1/eliminar/{{this._id}}">Eliminar</a></td>
           {{!-- <td style="text-align:center;"><a href="/tabla/graficar/">Graficar</a></td> --}}
        </tr>
        {{/each}}
      </tbody>
  </table>
  </div>
</div>
<br>
<div class="row justify-content-center">
  <a  class="btn btn-lg btn-primary" href="/c1">Nuevo formulario 1</a>
</div>
