<html>
<head>
    <meta charset="UTF-8">
<title>Formulrio de Encuesta</title>
    <meta name = "viewport" content = "width=device-width, user-scalable=no, initial-scalable=1.8, maximum-scale=1.8, minimum-scale=1.8">
   <link rel="stylesheet" href="/stylesheets/indexStyle.css"> 
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link href='https://fonts.googleapis.com/css?family=Andika' rel='stylesheet'>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
 
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Auditoria de Sistemas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class  ="cuerpo">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Empresa <span class="sr-only">(current)</span></a>
      </li>
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Auditor
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ver informacion</a>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Crear Formulario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Formulario1</a>
          <a class="dropdown-item" href="#">Formulario2</a>
          <a class="dropdown-item" href="#">Formulario3</a>
          <a class="dropdown-item" href="#">Formulario4</a>
          <a class="dropdown-item" href="#">Formulario5</a>
          <a class="dropdown-item" href="#">Formulari6</a>
        </div>
      </li>
     
    </ul> 
  </div>
  </div>
</nav>
 <body>
     



<div>
    <div class = "icono">
    <i class="fab fa-angellist"></i>
    </div>

    <p class="parrafo1"><strong>Hola, Te damos la bienvenida es un placer para nosotras tenerte por aca.</strong></p>
    <p>Ingeniero. Carlos Beltran
        <br>
        Karen Gonzalez, Yaddy Mendez y Lizeth Parra
    </p>
</div>


 </body>
 </html>