<section class="login-block">
    <div class="container">
	<div class="row">
		<div class="col-md-4 login-sec">
		    <h2 class="text-center">Login</h2>
		    <form class="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1" class="text-uppercase">C.C o NIT</label>
    <input type="text" class="form-control" placeholder="">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" class="text-uppercase">Contraseña</label>
    <input type="password" class="form-control" placeholder="">
  </div>
  <div class="form-check">
    <a class="btn btn-login float-left" href="/auditor/nuevo">Registrar Auditor</a>
    <button type="submit" class="btn btn-login float-right">Enviar</button>
  </div>
</form>
<div class="copy-text">Creado por <i class="fa fa-heart"></i> <a href="http://grafreez.com">LKY</a></div>
		</div>
		<div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                 <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  </ol>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
    </div>
    </div>
      </div>
            </div>	   
		    
		</div>
	</div>
</div>
</section>

<!-- cuestionario 1 -->
<h1 align="center">CUESTIONARIO DE CONTROL AUDITORIA DE SISTEMAS C1</h1>

<section>
    
  <div class="input-group mb-3" >
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Empresa:</span>
    </div>
    <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Dominio:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Adquisición e Implementación</span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Proceso:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Adquirir y mantener la arquitectura tecnológica</span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Objetivo de Control:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Evaluacion de Nuevo Hardware</span>
  </div>

  <h4 align="center">CUESTIONARIO</h4>

    <div class="input-group">
      <input type="text" class="form-control" value="Preguntas">
      <span class="input-group-text" id="basic-addon1">SI</span>
      <span class="input-group-text" id="basic-addon1">NO</span>
      <span class="input-group-text" id="basic-addon1">N/A</span>
    </div>
  
    <div class="input-group-prepend">
      <input type="text" class="form-control" value="¿Se cuenta con un invenatario de todos los equipos que integran el centro de cómputo?">
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
    </div>

  <div class="input-group-prepend">
      <input type="text" class="form-control" value="¿Con cuanta frecuencia se revisa el inventario?">
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
  </div>

  <div class="input-group-prepend">
      <input type="text" class="form-control" value="¿Se posee de bitácoras de fallas detectadas en los equipos?">
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
  </div>

  <h6 align="center">CARACTERÍSTICAS DE LA BITÁCORA (SEÑALE LAS OPCIONES)</h6>

  <div class="input-group-prepend">
      <input type="text" class="form-control" value="¿La bitácora es llenada por el personal especializado?">
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
  </div>

  <div class="input-group-prepend">
      <input type="text" class="form-control" value="¿Señala fecha de detección de la falla?">
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
  </div>

  <div class="input-group-prepend">
      <input type="text" class="form-control" value="¿Señala fecha de corrección de la falla y revisión de que el equipo funcione correctamente?">
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
      <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
      </div>
  </div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="¿Se poseen registros individuales de los equipos?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
</div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="¿La bitácora hace referencia a hojas de servicio, en donde se detalla la falla, y las causas que la orginaron, asi como las refacciones utilizadas?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
</div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="¿Se lleva un control de los equipos en garantía, para que a la finalización de ésta, se integren a algún programa de mantenimiento?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
</div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="¿Se cuenta con servicio de mantenimiento para todos los equipos?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
</div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="¿Con cuanta frecuencia se realiza mantenimiento a los equipos?">
    <div class="input-group-text">
        <input type="text" class="input-group-append">
    </div>
    {{!-- <div class="input-group-text">
      <input type="text" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="text" aria-label="Radio button for following text input">
    </div> --}}
</div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="¿Se cuenta con procedimientos definidos para la adquisición de nuevos equipos?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
</div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="¿Se tienen criterios de evaluación para determinar el rendimiento de los equipos a adquirir y así elegir el mejor?">
    <div class="input-group-text">
        <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
</div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="Documentos probatorios presentados:">
    <div class="input-group-text">
        <input type="text" class="input-group-append">
    </div>
    {{!-- <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div> --}}
</div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="TOTAL">
   <div class="input-group-text">
        <input type="text" class="input-group-append">
    </div>
</div>
</section>
<br><br><br><br>

<!--CUESTIONARIO 2 -->
<h1 align="center">CUESTIONARIO DE CONTROL AUDITORIA DE SISTEMAS C2</h1>
<section>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Empresa</span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Cuestionario de Control Compra y Garantía de Hardware</span>
    </div>
  </div>

    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Dominio:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Adquisición e Implementación</span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Proceso:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Adquirir y mantener la arquitectura tecnológica</span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Objetivo de Control:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Evaluacion de Nuevo Hardware</span>
  </div>

  <h4 align="center">CUESTIONARIO</h4>
  
  <div class="input-group">
    <input type="text" class="form-control" value="Pregunta">
    <span class="input-group-text" id="basic-addon1">SI</span>
    <span class="input-group-text" id="basic-addon1">NO</span>
    <span class="input-group-text" id="basic-addon1">N/A</span>
  </div>
  
  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se lleva un control de los equipos en garantía, para que a la finalización de ésta, se integren a algún programa de mantenimiento?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con servicio de mantenimiento para todos los equipos?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Con cuanta Frecuencia se realiza mantenimiento a los equipos?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con procedimientos definidos para la adquisición de nuevos equipos?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se tienen criterios de evaluación para determinar el rendimiento de los equipos a adquirir y así elegir el mejor?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="Documentos probatorios presentados:">
     <div class="input-group-text">
        <input type="text" class="input-group-append">
    </div>
  </div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="TOTAL">
   <div class="input-group-text">
        <input type="text" class="input-group-append">
    </div>
</div>
</section>

<h1 align="center">CUESTIONARIO DE CONTROL AUDITORIA DE SISTEMAS C3</h1>
<section>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Empresa</span>
  </div>
  <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
</div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Cuestionario de Control y seguridad Instalaciones y Cubículos</span>
    </div>
  </div>

    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Dominio:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Entrega de Servicios y Soportes</span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Proceso:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Administración de Instalaciones</span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Objetivo de Control:</span>
    </div>
    <!--<input type="text" class="form-control">-->
    <span class="input-group-text">Instalaciones, adecuaciones y seguridad</span>
  </div>

  <h4 align="center">CUESTIONARIO</h4>
  
  <div class="input-group">
    <input type="text" class="form-control" value="Pregunta">
    <span class="input-group-text" id="basic-addon1">SI</span>
    <span class="input-group-text" id="basic-addon1">NO</span>
    <span class="input-group-text" id="basic-addon1">N/A</span>
  </div>
  
  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Las Instalaciones (aulas, cubículos y oficinas) fueron diseñadas o adaptadas específicamente para funcionar como un centro de cómputo?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se tiene una distribución del espacio adecuada, de forma tal que facilite el trabajo y no existan distracciones?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Existe suficiente espacio dentro de las instalaciones de forma que permita una cirulación fluida?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Existen lugares de acceso restringido?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con sistemas de seguridad para impedir el paso a lugares de acceso restringido?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

<div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con sistemas de emergencia como son detectores de humo, alarmas u otro tipo de censores?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Existen señalizaciones adecuadas en las salidas de emergencia y se tienen establecidas rutas de evacuación?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

<div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se tienen medios adecuados para extinción de fuego en el centro de cómputo?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con iluminación adecuada y con iluminación de emergencia en casos de contingencia?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se tienen sistemas de seguridad para evitar que se sustraiga equipo de las instalaciones?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

<div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se tiene un lugar asignado para papelería y utensilios de trabajo?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

<div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Son funcionales los muebles isntalados dentro del centro de cómputo: cinco teca, Discoteca, archiveros, mesas de trabajo, etc?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

<div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Existen prohibiciones para fumar, consumir alimentos y bebidas?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Se cuenta con suficientes carteles en lugares visibles que recuerdan estas prohibiciones?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Con cuanta frecuencia se limpian las instalaciones?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="¿Con cuanta frecuencia se limpian los ductos de aire y la cámara de aire que existe debajo del piso falso (si existe)?">
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="input-group-text">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>

  <div class="input-group-prepend">
    <input type="text" class="form-control" value="Documentos probatorios presentados:">
     <div class="input-group-text">
        <input type="text" class="input-group-append">
    </div>
  </div>

<div class="input-group-prepend">
  <input type="text" class="form-control" value="TOTAL">
   <div class="input-group-text">
        <input type="text" class="input-group-append">
    </div>
</div>
</section>