.contenedor{
    margin: 1rem;
    padding: 1rem;
    border: 7px solid #818181;
}
.text-center{
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
 
     /* IMPORTANTE */
    text-align: center;
    font-family: 'Andika';font-size: 22px;
    font-size: 40px;
    
    
}
.intro-first{
    margin: 1rem;
    padding: 2em;
   
    text-align: justify;
}
.form-group{
    margin: 1rem;
    padding: 2em;
    border: 5px solid #DAD8D8;
    font-family: 'Andika';font-size: 22px;
    text-align: justify;
}
.title-part{

    background-color: #fafafa;
    margin: 1rem;
    padding: 2rem;
 
     /* IMPORTANTE */

    text-align: justify;

    border: 5px solid #D2D3E0;
    font-family: 'Andika';font-size: 22px;
    
}
.col-ms-3{
    padding-right: 20px;
}


